{% extends 'index.html' %}
<!-- Top Section -->
{% block topsection %}
<header class="about-header">
  <div class="container">
    <div class="row">
      <div class="about-info col-md-6 col-xs-12">
        <h1>{{ me.first_name }} {{ me.last_name }}</h1>
        <h2>Developer</h2>
        <div class="contact-links">
          <ul>
            <li><a><i class="{{ email.fa_icon }}"></i>{{ email.link }}</a></li>
          </ul>
          <ul class="social-icon">
            {% for contact in contacts %}
            <li><a target="_blank", href="{{ contact.link }}"><i class="{{ contact.fa_icon }}"></i></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-6 d-sm-none d-md-block">
        <div class="p-img">
          <img src="{{ profile_photo }}" alt="">
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock topsection %}

{% block about %}
  <div class="about-me about-me-section-separator" id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h1 class="h2">About</h1>
          <p>{{ me.about }}</p>
        </div>
        <div class="col-md-1 d-md-block d-sm-none"></div>
        <div class="col-md-5 col-sm-12">
          <h2 class="h4">my skills</h2>
          <div class="skill-tags">
            <ul>
              {% for skill in skills %}
              <li><span>{{ skill.skill }}</span></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock about %}

{% block pagescripts %}
{% endblock pagescripts %}
