<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hi mom">
    <meta name="author" content="Kunhee Ha">

    <!-- Google Font Roboto -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Libre+Baskerville">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans">
    <!-- npm packages -->

    <!-- Bootstrap -->
    <link rel="stylesheet"  href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/brands.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/solid.css') }}">
    <!-- Animate.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/animate.css/animate.css') }}">
    <!-- AOS css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/aos/dist/aos.css') }}">

    <!-- My stuff -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

  {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}

    <!-- Footer -->
    <footer class="footer py-4 bg-light">
      <div class="container">
        © Kunhee Ha
      </div>
    </footer>

  
    <!-- Utils -->
    <script type="module" scr="{{ url_for('static', filename='js/utils.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <!-- AOS -->
    <script src="{{ url_for('static', filename='node_modules/aos/dist/aos.js') }}"></script>
    <script>
      AOS.init();
    </script>
    <!-- My Stuff -->
    {% block scripts %}{% endblock %}
  </body>
</html>
