{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
  <title>Projects</title>
{% endblock head %}

{% block body %}
<!-- NavBar -->
<nav class="navbar navbar-shrink navbar-expand navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <!-- to add something here or not to add, that is the question -->
    <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="" alt="" /></a>
    <ul class="navbar-nav text-uppercase ml-auto">
      <li class="nav-item"><a class="nav-link" href="{{ url_for('main.about') }}">About</a></li>
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Projects</a></li>
      <li class="nav-item"><a class="nav-link" href="">Blog</a></li>
    </ul>
  </div>
</nav>

<!-- Header -->
<header class="projects-header">
  <div class="container">
    <h1 data-aos="fade-right" data-aos-duration="800" data-aos-delay="200">personal projects</h1>
    <p data-aos="fade-right" data-aos-duration="800" data-aos-delay="300">noun: /ˈpɜːrsənəl ˈprɒdʒɛkts/</p>
    <h3 data-aos="fade-right" data-aos-duration="800" data-aos-delay="400">a collection of random things I made in my spare time</h3>
  </div>
</header>

<!-- Main -->
<section class="projects-main bg-light" id="projects">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3">
      {% for project in projects %}
      <div class="col mb-5 mr-5" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="{{ project.id }}00">
        {% if project.deployed %}
        <a href="{{ project.live_link }}" target="_blank">
        {% else %}
        <a href="{{ project.source_code_link }}" target="_blank">
        {% endif  %}
          <div class="project-item white-bg">
            <h4>{{ project.name }}</h4>
            <p>{{ project.brief }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock body %}

{% block scripts %}
<script>
document.querySelectorAll('a.js-scroll-trigger[href*="#"]:not([href="#"])').forEach(link => {
  link.onclick = function() {
    if (location.pathname.replace(/^\//, "") == link.pathname.replace(/^\//, "")) {
      document.querySelector(link.hash).scrollIntoView({ behavior: "smooth" });
      return false;
    }
  }
});
</script>
{% endblock scripts %}
