html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  opacity: 0.9;
  overflow-x: visible;
  height: 100%;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", serif;
}

p {
  opacity: 0.9;
}



a {
  color: #21618C;
  text-decoration: none;
  background-color: transparent;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}
/* ---------------------------------- */
/* GENERAL */
/* ---------------------------------- */

.fullscreen {
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.section-separator {
  padding: 75px 0px 30px;
}

.text-center {
  margin: auto;
  padding-bottom: 20px;
}

.image-bg {
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center center;
}

.btn {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  outline: 0;
  padding: 8px 30px;
  font-size: 90%;
  letter-spacing: .09rem;
  font-weight: bold;
  border-radius: 20px;
}

.btn.btn-fill:hover {
  background-color: #174361;
}

.btn.btn-fill {
  background-color: #21618C;
  color: #fff;
}

/* ---------------------------------- */
/* NAVBAR */
/* ---------------------------------- */

#mainNav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: none;
  background-color: transparent;
  transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}

#mainNav.navbar-shrink {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
  transition: 0.4s;
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
  color: #000
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Fira Sans", sans-serif;
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.0625em;
  opacity: 1;
  line-height: 30px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 10px;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #778899;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  border-bottom: 1.5px solid;
}

@media (min-width: 575px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }

  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    transition: 0.4s;
  }

  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #000
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0.0625em;
    font-weight: bold;
    opacity: 1;
    line-height: 30px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 10px;
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }
  #mainNav.navbar-shrink .navbar-brand svg,
#mainNav.navbar-shrink .navbar-brand img {
    height: 1.5rem;
  }
  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
  }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
}

