.projects-header .container {
  padding: 100px 0px 30px;
}

@media only screen and (max-width: 699px) {
  .projects-header .container {
    padding: 100px 15px 30px;
  }
}

.projects-header h1 {
  margin-bottom: 20px
}

.projects-header p {
  font-style: italic;
  font-size: 20px;
}

.projects-header h3 {
  font-family: "Fira Sans", sans-serif;
  opacity: 0.9;
}

.projects-main {
  padding: 100px 0px 0px;
}

@media only screen and (min-width: 700px) {
  .projects-main {
    height: 100%;
  }
}

.projects-main a {
  color: inherit;
  text-decoration: none;
}

.project-item {
  padding: 20px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all .3s ease-in-out;
}

.project-item:hover {
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
}
