html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  opacity: 0.9;
  overflow-x: visible;
  height: 100%;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", serif;
}

p {
  opacity: 0.9;
}



a {
  color: #21618C;
  text-decoration: none;
  background-color: transparent;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

/* ---------------------------------- */
/* GENERAL */
/* ---------------------------------- */

.fullscreen {
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.section-separator {
  padding: 75px 0px 60px;
}

.text-center {
  margin: auto;
  padding-bottom: 20px;
}

.image-bg {
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center center;
}

.btn {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  outline: 0;
  padding: 8px 30px;
  font-size: 90%;
  letter-spacing: .09rem;
  font-weight: bold;
  border-radius: 20px;
}

.btn.btn-fill:hover {
  background-color: #174361;
}

.btn.btn-fill {
  background-color: #21618C;
  color: #fff;
}

/* ---------------------------------- */
/* NAVBAR */
/* ---------------------------------- */

#mainNav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: none;
  background-color: transparent;
  transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}

#mainNav.navbar-shrink {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
  transition: 0.4s;
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
  color: #000
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Fira Sans", sans-serif;
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.0625em;
  opacity: 1;
  line-height: 30px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 10px;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #778899;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  border-bottom: 1.5px solid;
}

@media (min-width: 575px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }

  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    transition: 0.4s;
  }

  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #000
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0.0625em;
    font-weight: bold;
    opacity: 1;
    line-height: 30px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 10px;
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }
  #mainNav.navbar-shrink .navbar-brand svg,
#mainNav.navbar-shrink .navbar-brand img {
    height: 1.5rem;
  }
  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
  }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
}

/* ---------------------------------- */
/* Landing page */
/* ---------------------------------- */

.landing-page {
  color: #FFF;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/blur-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-page .container {
  padding-top: 280px;
}

.landing-page h1 {
  font-size: 60px;
  margin-bottom: 50px;
}

.about-user-text {
  font-size: 26px;
  margin: 50px 0px;
}

.about-me-link {
  margin-top: 50px;
  text-align: right;
}

.about-me-link a {
  font-family: "Libre Baskerville", serif;
  font-size: 26px;
  text-decoration: none;
  color: #FFF;
  -webkit-animation: fade 4s ease-in-out infinite;
  -moz-animation:    fade 4s ease-in-out infinite;
  animation:         fade 4s ease-in-out infinite;
  display: none;
}

.about-me-link a:hover {
  cursor: pointer;
}

@-webkit-keyframes fade {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes fade {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fade {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

/* ---------------------------------- */
/* About route */
/* ---------------------------------- */

/* ---------------------------------- */
/* Header */
/* ---------------------------------- */

.about-header {
  color: #FFF;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-header .container {
  padding: 180px 0px;
}

.about-info {
  padding-top: 100px;
}

.about-header h1 {
  font-size: 60px;
  line-height: 65px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-header h2 {
  font-size: 26px;
  line-height: 34px;
  margin: 15px 0px 30px;
}

.contact-links a {
  font-family: "Libre Baskerville", serif;
  text-decoration: none;
  color: #FFF;
}

.contact-links li i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact-links ul li:hover {
  cursor: pointer;
}

.contact-links ul li i {
  margin-right: 15px;
}

.contact-links ul li:hover i {
  color: #778899;
}

.contact-links .social-icon {
  margin-top: 20px;
  margin-left: 20px;
}

.contact-links .social-icon li {
  font-size: 18px;
  list-style: none;
  padding: 10px 14px;
  float: left;
  margin-right: 8px;
}

.p-img {
  margin: 0 auto;
  float: none;
  text-align: center;
  margin-left: 50px;
}

.p-img img {
  border-radius: 30%;
  border: 20px solid rgba(0, 0, 0, 0.07);
}

/* ---------------------------------- */
/* About me */
/* ---------------------------------- */

.about-me-section-separator {
  padding: 100px 0px 60px;
}

.about-me h1 h2 {
  margin: 20px 0px;
}

.about-me p {
  margin-top: 20px;
}

.about-me ul li a {
  color: black;
  opacity: 0.9;
  text-decoration: none;
}

.about-me ul li a:hover {
  text-decoration: underline;
}

.about-me ul li a i {
  font-size: 25px;
  line-height: 30px;
  padding: 4px 14px;
  margin-right: 10px;
  border-radius: 3px;
}

.skill-tags {
  margin-top: 15px;
}

.skill-tags ul li {
  margin: 0px 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 4px 0px;
  display: inline-block;
}

.skill-tags ul li span {
  border-bottom: 2px solid #B6B6B6;
  padding: 4px 10px;
}

/* ---------------------------------- */
/* Projects */
/* ---------------------------------- */

.project-item {
  perspective: 1000px;
}

.shadow-1 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.project-item-inner {
  padding: 20px;
  border-radius: 4px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.project-item:hover .project-item-inner {
  transform: rotateY(180deg);
}

.project-item-front, .project-item-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.project-item-back {
  transform: rotateY(180deg);
}
/* ---------------------------------- */
/* Contact */
/* ---------------------------------- */

.contact .card {
  border: 0;
  background-color: transparent;
}

.map-image {
  background-image: url(../images/map-color-overlay.png);
}

.contact-form {
  width: 100%;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.contact-form .form-control {
  background-color: transparent;
}

.contact-form .btn {
  font-size: 80%;
  font-weight: bold;
  border-radius: 1rem;
  letter-spacing: .1rem;
  padding: 10px;
}


.form-label-group input {
  height: auto;
  border-width: 1px;
  border-radius: 1rem;
  border-color: #B6B6B6;
}

.form-label-group textarea {
  border-width: 1px;
  border-radius: 1rem;
  border-color: #B6B6B6;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.form-label-group>textarea,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group textarea::-webkit-textarea-placeholder {
  color: transparent;
}

.form-label-group textarea:-ms-textarea-placeholder {
  color: transparent;
}

.form-label-group textarea::-ms-textarea-placeholder {
  color: transparent;
}

.form-label-group textarea::-moz-placeholder {
  color: transparent;
}

.form-label-group textarea::placeholder {
  color: transparent;
}

.form-label-group textarea:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group textarea:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
