html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  opacity: 0.9;
  overflow-x: visible;
  height: 100%;
}


h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, sans-serif;
}

p {
  opacity: 0.9;
}



a {
  color: #21618C;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #21618C;
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}


/* GENERAL */

.fullscreen {
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.section-separator {
  padding: 80px 0px 60px;
}

.text-center {
  margin: auto;
  padding-bottom: 20px;
}

.image-bg {
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center center;
}

.btn {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  outline: 0;
  padding: 8px 30px;
  font-size: 90%;
  letter-spacing: .09rem;
  font-weight: bold;
  border-radius: 20px;
}

.btn.btn-fill:hover {
  background-color: #174361;
}

.btn.btn-fill {
  background-color: #21618C;
  color: #fff;
}

/* NAVBAR */

#mainNav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: none;
  background-color: transparent;
  transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}

#mainNav.navbar-shrink {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
  transition: 0.4s;
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
  color: #000
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.0625em;
  opacity: 1;
  line-height: 30px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 10px;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #778899;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  border-bottom: 1.5px solid;
}

@media (min-width: 575px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }

  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    transition: 0.4s;
  }

  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #000
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0.0625em;
    font-weight: bold;
    opacity: 1;
    line-height: 30px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 10px;
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }
  #mainNav.navbar-shrink .navbar-brand svg,
#mainNav.navbar-shrink .navbar-brand img {
    height: 1.5rem;
  }
  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
  }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
}


/* About you */

.about-user {
  color: #FFF;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/drumcat.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-user .container {
  font-size: 26px;
  padding: 30% 0px 0px;
}

.about-user h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 65px;
  margin: 20px 0px;
}

.about-user-text {
  margin: 20px 0px;
}



/* ABOUT */


.about-section-separator {
  padding-bottom: 20px;
  padding-top: 80px;
}

.about-section .about-inner h2 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.about-section .about-inner p {
  margin-bottom: 30px;
}

.about-section .about-inner .btn {
  margin-top: 20px;
}

.about-section .about-inner .btn .fa {
  margin-left: 10px;
}

.languages {
  padding-left: 15%;
}

.languages h3 {
  font-size: 26px;
  line-height: 40px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
}

.lang {
  position: relative;
  margin-bottom: 15px;
}

.lang .parcial {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.lang .parcial .info {
  position: relative;
}

.lang .parcial .info .name {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 15px;
  font-weight: bold;
}

.lang .parcial .info .percentagem-num {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  font-weight: normal;
}

.lang .parcial .progressBar {
  position: relative;
  width: 100%;
  height: 7px;
  margin: 25px 0 2px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.lang .parcial .percentagem {
  position: absolute;
  top: 0;
  left: 0;
  height: 7px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #21618C;
  -webkit-transition: 3s all;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: animationProgress;
}

.lang .parcial .partidas {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.about-cv {
  padding-bottom: 30px;
}


@media (max-width: 767px) {
  .about-section-separator {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .aboutMain {
    margin: auto;
    text-align: center;
  }
}

/* SKILLS */

.skills .skills-item {
  padding: 20px;
  border-radius: 4px;
}

.skills .skills-item .fa {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 16px;
}

.skills .skills-item .fa.purple-color {
  color: #9774fa;
}

.skills .skills-item .fa.iron-color {
  color: #ed7256;
}

.skills .skills-item .fa.sky-color {
  color: #2796e2;
}

.skills .skills-item h3 {
  margin-bottom: 18px;
  font-size: 25px;
  line-height: 34px;
}

.skills .skills-item a {
  color: #21618C;
}

.skills .skills-item a .fa {
  font-size: 16px;
  line-height: 27px;
  margin-left: 6px;
}

.shadow-1 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}




/* EDUCATION */

.white-bg {
  background-color: #FFF;
}

.education-section {
  display: none;
}

.education-section.active {
  display: block;
}

.education-section h2 {
  margin-bottom: 70px;
}

.education-section .bg-image {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/bgimg7.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.education-section .education-details .education-item {
  -webkit-box-shadow: 0px 10px 20px 4px #00000015;
          box-shadow: 0px 10px 20px 4px #00000015;
}

.education-section .education-details .education-item {
  margin-bottom: 30px;
  padding: 26px 30px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.education-section .education-details .education-item:last-child {
  margin-bottom: 0;
}

.education-section .education-details .education-item h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.education-section .education-details .education-item h6 a {
  color: #515157;
}

.education-section .education-details .education-item .mh-eduyear {
  margin: 10px 0;
  color: #21618C;
}

.education-section .education-details .education-item p {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 0;
}

.education-item ul li {
  font-size: 14px;
  line-height: 23px;
  margin: 2px 0;
}

.education-item li .fa, .education-item li .fa-circle {
  font-size: 10px;
  line-height: 23px;
  margin-right: 10px;
}

/* STRENGTHS */

.strengths {
  padding-left: 30%;
}

.strenghts h3 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 60px;
}






/* PORTFOLIO */

.portfolio-nav {
  margin: 0 auto;
  margin-bottom: 40px;
}

.portfolio-nav ul {
  margin: 0 auto;
  float: none;
  text-align: center;
}

.portfolio-nav ul li {
  display: inline-block;
  margin: 10px 20px;
  cursor: pointer;
  padding: 10px 0;
}

.portfolio-nav ul li:hover {
  color: #21618C;
}

.portfolio-nav ul li.active {
  border-bottom: 2px solid;
  border-color: #21618C;
}

.project-gallery .grid-item figure {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.project-gallery .grid-item figure img {
  position: relative;
  width: 100%;
  display: block;
}

.project-gallery .grid-item figure figcaption {
  position: absolute;
  padding: 15px;
  height: 100%;
  width: 100%;
  top: auto;
  left: 0;
  color: #fff;
  bottom: 0;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.project-gallery .grid-item figure figcaption:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
  z-index: -1;
  opacity: 0;
}

.project-gallery .grid-item figure figcaption .fa {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  top: 45%;
  margin-top: -22px;
  transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  letter-spacing: 0px;
}

.project-gallery .grid-item figure figcaption .title {
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
  top: 50%;
  margin-top: 30px;
  margin-top: -2px;
  transform: translateX(80px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(80px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(80px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(80px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(80px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  letter-spacing: 0px;
}

.project-gallery .grid-item figure figcaption .sub-title {
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  font-size: 13px;
  top: 50%;
  margin-top: 30px;
  transform: translateX(-70px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(-70px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(-70px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(-70px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(-70px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  letter-spacing: 0px;
}

.project-gallery .grid-item figure figcaption a {
  position: absolute;
  z-index: 1111;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-indent: -99999px;
}

.project-gallery .grid-item figure:hover {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.project-gallery .grid-item figure:hover figcaption {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(33, 97, 140, 0.8);
}

.project-gallery .grid-item figure:hover figcaption:after {
  opacity: 1;
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.project-gallery .grid-item figure:hover figcaption .fa {
  transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
}

.project-gallery .grid-item figure:hover figcaption .title {
  transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}

.project-gallery .grid-item figure:hover figcaption .sub-title {
  transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 1;
}

.portfolio-modal {
  display: none;
}

.portfolio-modal-inner {
  max-height: 90%;
  overflow-y: scroll;
  margin-right: 20px;
}

.portfolio-modal-inner h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.portfolio-modal-img img {
  margin-bottom: 20px;
}

.about-tag {
  word-break: break-all;
  margin-bottom: 10px;
  margin-top: 10px;
}

.about-tag ul li {
  margin: 0px 6px;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 4px 0px;
  display: inline-block;
  font-weight: 500;
  opacity: 0.9;
}

.about-tag ul li span {
  border: 1px solid #21618C;
  padding: 4px 10px;
  border-radius: 4px;
}

.about-tag ul li span:hover {
  background-color: transparent !important;
}


/* EXTRA */

.extra-img {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/backgroundimg2.jpeg);
}

.extrapart {
  padding-top: 30px;
  padding-bottom: 30px;
}

.extrapart p {
  margin-top: 20px;
}


/* CONTACT */

.map-image {
  background-image: url(../images/map-color-overlay.png);
}

.mt-30 {
  margin-top: 30px;
}

.contact-info {
  margin-bottom: 60px;
}

.contact-info .contact-info-item {
  padding: 30px 30px;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 4px;
}

.contact-info .contact-info-item h4 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.contact-info .contact-info-item address {
  margin-bottom: 0;
}

.contact-info .contact-info-item .each-icon .fa {
  text-align: center;
  width: 100px;
  height: 100px;
  border: 1px solid;
  border-radius: 50%;
  line-height: 100px;
  font-size: 20px;
  border-color: #21618C;
}

.contact-info .contact-info-item .each-info {
  padding-left: 40px;
  text-align: left;
}

.contact-info .contact-info-item .each-info .emailLink {
  color: #21618C
}

.contact-info .contact-info-item .each-info .emailLink:hover {
  cursor: pointer;
  text-decoration: underline;
}


.card-contact {
  border: 0;
  background-color: transparent;
}

.card-contact .card-body {
  padding: 20px 3px;
}

.contact-form {
  width: 100%;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.contact-form .form-control {
  background-color: transparent;
}

.contact-form .btn {
  font-size: 80%;
  font-weight: bold;
  border-radius: 1rem;
  letter-spacing: .1rem;
  padding: 10px;
}


.form-label-group input {
  height: auto;
  border-width: 1px;
  border-radius: 1rem;
  border-color: #21618C;
}

.form-label-group textarea {
  border-width: 1px;
  border-radius: 1rem;
  border-color: #21618C;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}



.form-label-group>textarea,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group textarea::-webkit-textarea-placeholder {
  color: transparent;
}

.form-label-group textarea:-ms-textarea-placeholder {
  color: transparent;
}

.form-label-group textarea::-ms-textarea-placeholder {
  color: transparent;
}

.form-label-group textarea::-moz-placeholder {
  color: transparent;
}

.form-label-group textarea::placeholder {
  color: transparent;
}

.form-label-group textarea:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group textarea:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}




/* FOOTER */

.footer {
  text-align: center;
  font-size: 0.9rem;
}

.footer .social-icon .fa {
  color: #000
}

.footer .adminlink a {
  color: #FFF
}
